# Environment variables for the application. Copy this file to .env and fill in the values.

# The port on which the server will run. Default is 5000. Make sure to choose a port that is not already in use by another application on your machine. For example: 5000 or 3000.
PORT=5000

# The environment in which the application is running. Can be 'development', 'production', or 'test'. This is used to determine the configuration settings for the application, such as database connections and logging levels.
NODE_ENV=development

# Comma-separated list of origins that are allowed to access the server. For example: http://localhost:3000,http://localhost:5173 This is used for CORS configuration to specify which domains can make requests to the server.
WHITE_LISTED_ORIGINS=http://localhost:3000,http://localhost:5173

# The URI for connecting to the MongoDB database. For example: mongodb://localhost:27017/mydatabase or mongodb+srv://username:password@cluster.mongodb.net/mydatabase Make sure to replace 'username', 'password', 'cluster', and 'mydatabase' with your actual MongoDB credentials and database name.
MONGO_URI=

# The log level for the application. Can be 'error', 'warn', 'info', 'verbose', 'debug', or 'silly'. Default is 'info'. 
LOG_LEVEL=info

# The secret keys for signing JWT tokens. These should be long, random strings for security. The access token secret is used for signing access tokens, while the refresh token secret is used for signing refresh tokens.
JWT_ACCESS_SECRET=

# The secret key for signing refresh tokens. This should also be a long, random string for security. It is recommended to use a different secret for refresh tokens than for access tokens to enhance security.
JWT_REFRESH_SECRET=

# The expiration time for access tokens and refresh tokens. Access tokens typically have a shorter expiration time (e.g., 1 hour), while refresh tokens can have a longer expiration time (e.g., 7 days). 
ACCESS_TOKEN_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=7d

# A comma-separated list of admin email addresses that are allowed to access certain administrative features of the application. For example: admin@example.com,superadmin@example.com
WHITELIST_ADMINS=

# Cloudinary configuration for image uploads. You need to fill in your Cloudinary cloud name, API key, and API secret to enable image uploading functionality in the application. 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=